<mat-toolbar color="primary">
    <img
      src="../../../assets/images/logo/logo-digi-safari.png"
      alt=""
      srcset=""
      class="app-logo"
    />
    <span class="app-title">SAPL - Self Assessment & Personalized Learning Path</span>
  
    <section class="login-button-section" *ngIf="!userLoggedIn" (click)="routeToLogin()">
      <!-- <button mat-raised-button color="primary">LogIn</button> -->
    </section>
  
    <section class="signup-button-section" *ngIf="!userLoggedIn" (click)="routeToSignup()">
      <!-- <button mat-raised-button color="warn">Signup</button> -->
    </section>
    <section class="user-info-section" *ngIf="userLoggedIn">
      <div class="username-prefix-section">
        <span class="username"  matTooltip="Hello, {{loggedInUserName}}" aria-label="Example icon-button with a heart icon">{{
          customerNameFirstLetter | uppercase
        }}</span>
         </div>
  
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon
          class="category-icon cursor-pointer"
          aria-hidden="false"
          aria-label="Example customer verified icon"
          >drag_indicator</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signout()">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </section>
  </mat-toolbar>
  
