<div class="login-form">
  <img class="logo" src="/assets/images/logo.png" alt="digi-safari" />
  <form [formGroup]="loginContentValidations">
    <mat-form-field class="login-full-width" appearance="outline">
      <!-- Email -->
      <mat-label>Username</mat-label>
      <input
        type="email"
        matInput
        name="username"
        formControlName="username"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="loginContentValidations.get('username').hasError('required')">
        Please enter a username
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="******"
      />
      <mat-error *ngIf="loginContentValidations.get('password').hasError('required')">
        Password field can not be empty
      </mat-error>
    </mat-form-field>

    <button
      class="login-full-width"
      mat-raised-button
      color="primary"
      (click)="onLoginClicked()"
      [disabled]="loginContentValidations.invalid"
    >
      Login
    </button>
  </form>
  <a class="signup-text" routerLink="/signup"
    >Don't have any account? Sign up here</a
  >
</div>
