
<mat-toolbar color = "white" >
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 >Home</h1>
    <span class="menu-spacer"></span>
    <div class="dashboard-hearder">
      <a mat-button (click)="swtichPage(1)"> My courses </a>
      <a mat-button (click)="swtichPage(2)"> Attempted quiz </a>
      <a mat-button (click)="swtichPage(3)"> Take quiz </a>
    </div>
    
  </mat-toolbar-row>

</mat-toolbar>

<div class="global-div">

 <div class="div2-example">
     <p *ngIf="pageId==1">
       <app-courselist></app-courselist>
     </p>
     <p *ngIf="pageId==2">
       <app-attempted-quiz></app-attempted-quiz>
     </p>
     <p *ngIf="pageId==3">
       <app-course-details></app-course-details>
     </p>
 </div>
</div>