.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.signup-full-width {
  width: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.signup-text {
  margin-top: 10px;
  margin-bottom: 20px;
  }
  